/android-support-v7-appcompat/bin/classes
/android-support-v7-appcompat/gen
/SriBAndroid/bin
/SriBAndroid/gen
/SriBServer/bin
/SriBServer/.settings/org.eclipse.wst.common.component
/SriBServer/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
/SriBServer/.settings/org.eclipse.wst.common.project.facet.core.xml
/SriBServer/.classpath
