/SriBAndroid/.apt_generated
prefs.xml
/SriBServer/.settings/org.eclipse.wst.common.project.facet.core.xml
/SriBServer/target
/SriBServer/.classpath

# eclipse project files
/SriBServer/.settings/org.eclipse.wst.common.component
/SriBServer/.settings/org.eclipse.wst.common.project.facet.core.

# Intellij project files
.idea
*.iml

# Mac crap files
.DS_Store

# Compiled Binaries
/Design/out
/SriBAndroid/out
/SriBAndroid/bin
/SriBAndroid/gen
/android-support-v7-appcompat/bin/classes
/android-support-v7-appcompat/gen
/SriBServer/bin
*.apk